@page "/"

<PageTitle>Index</PageTitle>

<h1>Business Rules Engine</h1>

Example Business Rules Engine implementation using Blazor WebAssembly and .NET 8.0.

<SurveyPrompt Title="How is Blazor working for you?" />
